<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>گروه مهندسی هل اتا</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/SUN.gif" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center" style="direction: ltr;"><a href="mailto:contact@example.com">contact@halata.ir</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4" style="direction: ltr;">&nbsp;<span>+98 936 598 2359</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">گروه مهندسي <span style="color: red;"">هل اتا</span></h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/#hero" class="active">صفحه اصلي<br></a></li>
            <li><a href="/#about">درباره</a></li>
            <li><a href="/#services">خدمات و محصولات</a></li>
            <li><a href="/#customers-section">مشتريان</a></li>

            <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li> -->
            <li><a href="#contact">تماس با ما</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#appointment">فرصت هاي همكاري</a>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class=" section light-background">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <h4>دستگاه حكاك</h4>
          </div>
          <div class="col-6">
            <h2>پیشرفته ترین دستگاههای مارک زنی و ردیابی محصول</h2>
            <ul>
              <li>مجهز به نرم افزار پارسی انگلیسی در ویندوز 7 و 8، ویندوز 10 و 11</li>
              <li>با پشتیبانی قدرتمند طراحی در اتوکد AutoCAD</li>
              <li>ورود نگاشتها از هر نرم افزار با خروجی DWG و DXF مانند Corel</li>
              <li>درایور داخلی با توانایی دریافت داده از طریق پورت USB یا سریال (RS232)</li>
              <li>توانا در حک فونتهای ویندوز شامل انگلیسی، فارسی، چینی، ژاپنی، .....</li>
              <li>در چک با رایانه</li>
              <li>دارای اپلیکشن موبایلی برای پورتابل بودن با ویژگی های حداکثری</li>
              <li>تبادل داده ها با تگنولوژی بلوتوث</li>
              <li>استفاده از RF820015  و الگوریتم HASH برای اتصال امن دستگاه به بلوتوث</li>
              <li>توانا در حک همزمان چندین شماره سریال، ساعت و تاریخ، لوگو، بی تنگنا</li>
              <li>حتا در چینش اجزای تاریخ و ساعت خورشیدی و میلادی÷</li>
              <li>بسیار مناسب برای پلاک مشخصات دستگاه ها و محصولات</li>
              <li>توانا در حک روی کانوایر خط تولید</li>
              <li>حک خودکار بدون دخالت کاربر با تشخیص قطعه و یا تایمر)</li>
              <li>توانا در انجام بسیاری از دستورها بدون نیاز و دخالت رایانه</li>
              <li>بسیار مناسب برای خطوط تولید صنعتی و محیطهای نامناسب برای گذاشتن رایانه</li>
              <li>قلم از جنس تنگستن کارباید، متناسب با سختی قطعه و یا سرامیک)</li>
              <li>توانا در حک بر روی اجسام تا سختی ۵۰ راکول</li>
              <li>امکان حک بر روی قطعات استوانه ای، تخت، دایره ای، محدب، مقعر</li>
              <li>مدلهای روتاری)</li>
              <li>بسیار مناسب خطوط تولید، پلاک ویژگیهای خودرو، شماره شاسی، آمیختن کدهای رنگ و بدنه و شاسی و ... ترکیب خودکار شماره VIN خودرو</li>
              <li>سرویس حک بدست بارکد ورود داده های حک از نرم افزارهای دیگر مانند Excel</li>
              <li>بانگهای داده (حک خودکار از برنامه تولید)</li>
              <li>حک مستقیم از بارکدخوان</li>
              <li>بازرسی و جلوگیری از بازانجام حک هنگام زدن شماره سریال شماره بدنه .......</li>
              <li>وتهیه گزارش از هر حک در اکسل Excel</li>
              <li>امکان ترکیب هوشمند محتوای حک شونده از منابع مختلف مثل جدول اکسل + اجزای تاریخ و زمان + شماره سریال + کل یا بخشی از بارکد + کدهای ثابت یا شمارنده ها + شماره شیفت کاری و....)</li>
              <li>استفاده از دیکشنری دلخواه تعریفی و تبدیل عبارت وارد شده به عبارتی دیگر برای حک</li>
              <li>حک در بستر شبکه و کنترل دستگاه از رایانه ی دیگر موجود در شبکه شبکه محلی و یا اینترنت</li>
              <li>در مدلهای اسکرایب، استفاده از بال اسکرو و یا چرخ و تسمه در مکانیسم حکاکی</li>
              <li>حک ترکیبی به دلخواه کاربر (اسکرایب + ضربه ای) در مدلهای اسکرایب فیلم مثال را ببینید</li>
              <li>رنگ بندی ترسیم در اتوکد و حک ترکیبی هر رنگ با ویژگیهای متفاوت حک بطور همزمان</li>
              <li>سرعت حک تا دو حرف بر ثانیه حدودی ست و به سایز و فونت مورد استفاده بستگی دارد</li>
              <li>توانا در اتصال همزمان تا پانزده حکاک به یک رایانه و حک پانزده عبارت متفاوت فقط با یک فرمان</li>
              
            </ul>
          </div>
          <div class="col-4">
            <div class="gallery-item">
              <a href="assets/img/5927137010185782536.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/5927137010185782536.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="gallery-item">
              <a href="assets/img/5927137010185782539.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/5927137010185782539.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="gallery-item">
              <a href="assets/img/5927137010185782541.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/5927137010185782541.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="gallery-item">
              <a href="assets/img/5924774614964226177.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/5924774614964226177.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <!-- <img src="" class="product-thumb mb-1" alt="marker2" />
            <img src="" class="product-thumb mb-1" alt="marker2" /> -->
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->



  </main>
  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">گروه مهندسی هل اتا</span>
          </a>
          <div class="footer-contact pt-3">
            <p>اصفهان -منطقه صنعتی گلپایگان</p>
            <p>بلوار شهید بهشتی</p>
            <p class="mt-3"><strong>تلفن:</strong> <span dir="ltr" style="text-align: left;" >+98 31 572 40796</span></p>
            <p><strong>Email:</strong> <span>halata.ir@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>لینک های پرکاربرد</h4>
          <ul>
            <li><a href="#">صفحه اصلی</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">خدمات</a></li>
            <li><a href="#">همکاری</a></li>
            <li><a href="#">درخواست دمو</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>خدمات ما</h4>
          <ul>
            <li><a href="#">اتوماسیون صنعتی</a></li>
            <li><a href="#">طراحی صنعتی</a></li>
            <li><a href="#">حکاک و خدمات وابسته</a></li>
            <li><a href="#">طراحی خطوط تولید</a></li>
            <li><a href="#">مشاوره در اینترنت اشیاء</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>وب سایت های وابسته </h4>
          <ul>
            <li><a href="http://www.mimt.gov.ir/">صنعت و معدن</a></li>
            <li><a href="https://www.irimo.ir/">سازمان هواشناسی</a></li>
            <li><a href="https://farandco.ir/">گروه مهندسی فراندیشان کوثر</a></li>
            <li><a href="https://esale.ikco.ir/">گروه خودروسازی ایرانخودرو</a></li>
            <li><a href="https://saipa.iranecar.com/">گروه خودروسازی سایپا</a></li>
          </ul>
        </div>

        <!-- <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nobis illum</h4>
          <ul>
            <li><a href="#">Ipsam</a></li>
            <li><a href="#">Laudantium dolorum</a></li>
            <li><a href="#">Dinera</a></li>
            <li><a href="#">Trodelas</a></li>
            <li><a href="#">Flexo</a></li>
          </ul>
        </div> -->

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>کپی رایت
      </span> <strong class="px-1 sitename">گروه مهندسی هل اتا</strong> <span>تمام حقوق محفوظ است</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>